; a .ini style config file for supplying spider.py command line arguments
; remove # to activate examples

; example: skip-protocol-muxes
#skip-protocol-muxes = [ignore-this-queue, 1234]

; example: skip-protocol-muxes
#ssh-concurrency = 100